#
# == Ansible Inventory Template (hosts.example) ==
#
# This is a template for your Ansible inventory file. To run these playbooks,
# you must create your own local inventory based on this example.
#
# --- INSTRUCTIONS ---
# 1. Copy this file to a new file named `hosts`:
#    cp hosts.example hosts
#
# 2. Edit the new `hosts` file to include your server hostnames, IP addresses,
#    and any necessary connection variables.
#
# The `hosts` file is already listed in .gitignore to prevent you from
# accidentally committing your infrastructure details to the public repository.
#
# --- EXAMPLE ENTRIES ---
    

linux:
 children:
    debian12:
    amazonLinux:

windows:
 children:
  adControllers:
  exchangeServers:
  rdsServers:

debian12:
 hosts:
  firstDebianServer:
   ansible_host:192.168.x.x
   description: "firstDebianServer"

amazonLinux:
 hosts:
  wazuh:
   ansible_host: 192.168.0.0
   description: "Wazuh Security Platform"

